<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/aykutabuhan/IdeaProjects/SoftwareTestingBoardTestProject">
        <classes>
            <class name="test.pages.CreateNewCustomerAccountPageTest">
                <methods>
                    <include name="fillPersonalInformationTest"/>
                    <include name="fillSignInInformationTest"/>
                    <include name="clickCreateAnAccountTest"/>
                </methods>
            </class>
            <class name="test.pages.ProductDetailPageTest">
                <methods>
                    <include name="productSelectTest"/>
                    <include name="clickableToAddToCartButton"/>
                </methods>
            </class>
            <class name="test.pages.ProductListPageTest">
                <methods>
                    <include name="sortTheProductTest"/>
                    <include name="addToProductInTheCart"/>
                    <include name="clickFirstProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>