<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/aykutabuhan/IdeaProjects/SoftwareTestingBoardTestProject">
        <classes>
            <class name="test.pages.CreateNewCustomerAccountPageTest">
                <methods>
                    <include name="fillFirstNameTest"/>
                    <include name="fillLastNameTest"/>
                    <include name="clickSingUpRadioButton"/>
                    <include name="fillEmail"/>
                    <include name="fillPassword"/>
                    <include name="fillConfirmPassword"/>
                    <include name="clickCreateAnAccount"/>
                </methods>
            </class>
            <class name="test.pages.ProductDetailPageTest">
                <methods>
                    <include name="selectHoodieSize"/>
                    <include name="selectHoodieColor"/>
                    <include name="quantityOfHoodie"/>
                    <include name="informationFieldAboutProduct"/>
                    <include name="clickableToAddToCartButton"/>
                </methods>
            </class>
            <class name="test.pages.ProductListPageTest">
                <methods>
                    <include name="clickAllOfShoppingOptionsMenu"/>
                    <include name="showNumberOfProductListOnPage"/>
                    <include name="sortByProducts"/>
                    <include name="clickToFirstProduct"/>
                    <include name="selectSizeAndColor"/>
                    <include name="clickAddToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>