<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test verbose="2"
          name="/Users/aykutabuhan/IdeaProjects/SoftwareTestingBoardTestProject">
        <parameter name="host" value="localhost"/>
        <parameter name="port" value="4444"/>
        <classes>
            <class name="test.pages.CreateNewCustomerAccountPageTest">
                <methods>
                    <include name="fillPersonalInformationTest"/>
                    <include name="fillSignInInformationTest"/>
                    <include name="clickCreateAnAccountTest"/>
                </methods>
            </class>
            <class name="test.pages.ProductDetailPageTest">
                <methods>
                    <include name="productSelectTest"/>
                    <include name="clickableToAddToCartButton"/>
                </methods>
            </class>
            <class name="test.pages.ProductListPageTest">
                <methods>
                    <include name="sortTheProductTest"/>
                    <include name="addToProductInTheCart"/>
                    <include name="clickFirstProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>